.search-bar-container {
  width: 300px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #2d2d44;
  border: 2px solid var(--portal-glow);
  border-radius: 8px;
  padding: 5px 15px;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.2);
  color: white;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--text-light);
  padding: 10px;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
  color: var(--text-light);
}

.search-bar__icon {
  width: 20px;
  filter: invert(100%);
}
