.search-bar-container {
  grid-area: search;
  width: 30rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background: var(--color-bg-secondary);
  border: 2px solid var(--color-bg-secondary);
  border-radius: 8px;
  padding: 5px 15px;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.2);
  color: white;
  animation-name: pulseGlowSearch;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--text-light);
  padding: 10px;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

@keyframes pulseGlowSearch {
  0% {
    border-color: var(--color-bg-secondary);
  }

  50%{
    border-color: var(--color-primary);
  }
  100%{
    border-color: var(--color-bg-secondary);
  }
}


.search-bar__input:focus {
  outline: none;
  color: var(--text-light);
}

.search-bar__icon {
  width: 20px;
  filter: invert(100%);
}
