.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
  place-content: center;
}
.card {
  background-color: var(--card-bg);
  border: 2px solid var(--dimension-purple);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--portal-green);
  box-shadow: 0 0 20px rgba(57, 255, 20, 0.4);
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
}

.card__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8px 0;

  padding-bottom: 4px;
  font-size: 0.95rem;
}

.card__content h2 {
  margin-top: 1.4rem;
  color: var(--portal-green);
  font-size: 1.5rem;
  text-align: center;
}

.card__info-description {
  text-align: right;
  color: #a0a0cc;
}

.card__info-description, .card__info-title {
  margin: 0.2rem 0;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--dimension-purple);
  display: block;
}

li {
  list-style: none;
}
